*{
	padding: 0px;
	margin: 0px;

}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;

}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
}

/* global title css start --- for title of section */

.title{
	width: 100%;
	padding: 20px 0px;

}
.title h4{
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #008ed6;

}
.title h1{
	font-size: 56px;
	font-weight: 600;
	line-height: 66px;
	letter-spacing: 2px;
	color: #000;

}
.header{
	widows: 100%;
	height: 100vh;
	background: url("../images/banner.png") center top no-repeat; 
	background-size: cover;
}
.header .navbar-nav .nav-item .nav-link{
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0px 0px 0px 25px;

}
.header .navbar-nav .nav-item .nav-link:hover, .header .navbar-nav .nav-item .nav-link:focus{
	background: url("../images/dash.png") bottom center no-repeat; 
	background-size: auto;

}
.header .navbar-nav .nav-link.active{
		background: url("../images/dash.png") bottom center no-repeat; 
		background-size: auto;

}
.banner{
	width:100% ;
	padding: 80px 0pxb 0px;
}
.inner-banner{
	width: 100%;
	padding: 40px 0px;
}	
.inner-banner h4{
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #008ed6;
}
.inner-banner h1{
	font-size: 56px;
	font-weight: 600;
	line-height: 66px;
	letter-spacing: 2px;
	color: #fff;
}

.inner-banner p{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #999;
}
.inner-button{
	width: 100%;
	padding: 60px 0px 0px;
}
.inner-button .btn-primary{
	padding: 15px 35px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 2px;
	letter-spacing: 1px;
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
	transition: 1s;
	margin: 0px 20px 0px;
}

.inner-button .btn-primary:hover, .inner-button .btn-primary:focus{
	color: #008ed6;
	background: transparent;
	border: 1px solid #008ed6;
}

.inner-button .btn-light{
	padding: 15px 35px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 2px;
	letter-spacing: 1px;
	color: #fff;
	background: transparent;
	border: 1px solid #999;
	transition: 1s;
}

.inner-button .btn-light:hover, .inner-button .btn-light:focus{
	color: #fff;
	background: #008ed6;
	border: 1px solid #008ed6;
}


/* feature start */

.feature {
	width: 100%;
	padding: 80px 0px;
}

.feature .title{
	text-align: center;
}
.feature .title img{
	 margin: 20px 0px 0px;
}
.inner-feature{
	width: 100%;
	padding: 40px 50px ;
	text-align: center;
}
.inner-feature .icon{
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 100%;
	margin: 0px auto 20px;
	border: 1px solid #eee;
}
.inner-feature .icon .fa{
	font-size: 28px;
	color: #008ed6;
}
.inner-feature h4{
	font-size: 22px;
	font-weight: 600;
	line-height: 32px;
	color: #000;
	text-transform: capitalize;
}
.inner-feature p{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #999;

}
/* about- code start */
.about-long{
	width: 100%;
	padding: 80px 0px;
	border-top: 1px solid #eee;
}
.inner-about-long{
	width: 100%;
	margin: 30px 0px 0px;
}
.inner-about-long h1{
	font-size: 36px;
	font-weight: 500;
	line-height: 46px;
}

.inner-about-long p{
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #999;
}
.inner-about-long ul{
	padding: 0px;
	display: block;
	margin: 30px 0px 0px;
}
.inner-about-long ul li{
	list-style: none;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	margin: 0px 0px 15px;

}
.inner-about-long ul li img{
	width: 13px;
	line-height: 15px;
	margin: 0px 10px 0px 0px;
}
 /* about sort css start*/
 .about-sort{
 	width: 100%;
 	padding: 80px 0px;
 	background: #f2f2f2;
 }
 .about-sort .title {
 	width: 100%;
 	margin: 80px 0px 0px;
 }
 .about-sort .title h1{
 	font-size: 36px;
	font-weight: 500;
	line-height: 46px;
 }
 .about-sort .title p{
 	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #999;
}

/* testimonial css start */
.testimonial{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/test.png") center top no-repeat;
	background-size: cover;

}
.testimonial .title{
	width: 100%;
	text-align: center;
}
.testimonial .title h1{
	color: #fff;
}

